$mainBg-color: lightslategray;
$signBg-color: lightgrey;
$errorText-color: red;

.loginContainer {
    display: grid;
    grid-template-areas: "up up up"
                         "left main right"
                         "down down down";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 6fr 1fr;
    min-height: 92.5vh;    
    background-size: cover;
    background-color: $mainBg-color;
}

.formSignUp {
    grid-area: main;
    display: grid;
    grid-template-areas: "logo"
                         "title"
                         "form";
    grid-template-rows: 0.4fr 0.3fr 4fr;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(48, 46, 46);
    background-color: $signBg-color;
    opacity: 0.9;
    border-radius: 10px;
}

.formSignIn {
    @extend .formSignUp;
    grid-template-rows: 0.4fr 0.3fr 1.5fr;
}

.formForgotPassword {
    @extend .formSignUp;
    grid-template-rows: 0.4fr 0.3fr 1.5fr;
}

.logo {
    grid-area: logo;
    align-self: center;
    margin: auto;
}
img {
    width: 180px;
    margin-top: 10px;
}
.title {
    grid-area: title;
    align-self: center;
    font-size: 34px;
    margin: auto;
}
.btnSignIn {
    width: 90%;
    margin: 5% 5% 8% 5%;    
}
.form-group {
    margin-bottom: 5%;
}
.lebel {
    margin-left: 5% !important;
}
.form-group input, .invalid-feedback {
    width: 90%;
    margin: 0 5% 0 5%;
}
.input-group-append {
    background-color: #E8E8E8;
    border: 1px solid lightgray;
    border-radius: 0 4px 4px 0;
}
#password {
    width: 85%;
    margin: 0 0 0 5%;
    flex: none;
    border-radius: 4px 0 0 4px;
}
#eye {
    padding: 4px 7px;
}
#wrongUser {
    color: $errorText-color;
    margin: 0 5%;
    font-size: 16px;
}
.forgotPassword {
    grid-area: forgotPassword;
    margin-left: 7%;
    font-size: 16px;
    cursor: pointer;
    color: rgb(44, 83, 83)
}

.forgotPassTitle {
    font-size: 30px;
    align-self: center;
    margin: auto;
    margin-bottom: 7%;
}
.lebelForgotPass {
    margin-left: 5% !important;
    font-weight: 18px;
    color: rgb(56, 54, 54);
}


@media screen and (max-width: 1700px) {
    #password {width: 83%; }    
} 
@media screen and (max-width: 1500px) {
    #password {width: 82.5%; }    
} 
@media screen and (max-width: 1400px) {
    #password {width: 81.5%; }    
} 
@media screen and (max-width: 1200px) {
    #password {width: 81%; }    
}  
@media screen and (max-width: 1100px) {
    #password {width: 80%; }    
} 
@media screen and (max-width: 1000px) {
    #password {width: 79%; }    
} 
@media screen and (max-width: 900px) {
    #password {width: 81%; }   
    .loginContainer {grid-template-columns: 1fr 1.5fr 1fr; }    
} 
@media screen and (max-width: 800px) {
    #password {width: 80%; }
    .loginContainer {grid-template-columns: 1fr 2fr 1fr; }    
}
@media screen and (max-width: 700px) {
    #password {width: 79%; }    
} 
@media screen and (max-width: 650px) {
    #password {width: 90%; }    
    .input-group-append {display: none; }
    .loginContainer {grid-template-columns: 20% auto 20%; }    
} 
@media screen and (max-width: 600px) {
    .loginContainer {grid-template-columns: 17% auto 17%; }    
} 
@media screen and (max-width: 500px) {
    .loginContainer {grid-template-columns: 10% auto 10%; }    
}