.loginContainer {
    display: grid;
    grid-template-areas: "up up up"
                         "left main right"
                         "down down down";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 6fr 0.5fr;
    min-height: 92.5vh;    
    background-size: cover;
    background-image: url("./assets/bg.jpg");
}

.formSignUp {
    grid-area: main;
    display: grid;
    grid-template-areas: "logo"
                         "title"
                         "form";
    grid-template-rows: 0.4fr 0.3fr 4fr;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: $lightBlack;
    background-color: #d5dde8;
    opacity: 0.9;
    border-radius: 10px;
}

.formSignIn {
    @extend .formSignUp;
    grid-template-rows: 0.1fr 0.1fr 1.5fr;
}

.logo {
    grid-area: logo;
    margin: auto;
    margin-top: 10px;
}

.title {
    grid-area: title;
    align-self: center;
    font-size: 30px;
    margin: auto;
}

.form-group {
    margin-bottom: 3%;
    .lebel {
        margin-left: 5% !important;
        margin-bottom: 0 !important;
    }
    .input-group-append {
        background-color: $midgray;
        border: 1px solid $lightgray;
        border-radius: 0 4px 4px 0;
        #eye {
            padding: 4px 7px;
            .eye {
                margin-top: 2px;
            }
        }
    }
    .btnSign {
        width: 90%;
        margin: 10% 5% 0 5%;
        padding: 9px 0;
    }
}

.form-group input, .invalid-feedback {
    width: 90%;
    margin: 0 5% 0 5%;
}

#password {
    width: 85%;
    margin: 0 0 0 5%;
    flex: none;
    border-radius: 4px 0 0 4px;
}

#wrongUser {
    color: $errorText-color;
    margin: 0 5%;
    font-size: 16px;
}

.formForgotPassword {
    @extend .formSignUp;
    grid-template-rows: 0.4fr 0.3fr 1.5fr;
}

.forgotPassword {
    grid-area: forgotPassword;
    margin-left: 7%;
    font-size: 16px;
    cursor: pointer;
    color: $blueGreen;
}

.socialAuth {
    margin-top: 50px;
    .firebaseui-container {
        max-width: none !important;
        .firebaseui-card-content {
            padding: 0px !important;
            & > * {
                margin: 0 5% !important;
                width: 90% !important;
            }
            .firebaseui-idp-button {
                max-width: none !important;
                min-height: none !important;
                width: 100% !important;
                border-radius: 5px !important;
                height: 48px !important;
                padding: 0px !important
            }
            .firebaseui-idp-icon {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    #password {width: 83%; }    
} 
@media screen and (max-width: 1500px) {
    #password {width: 82.5%; }    
} 
@media screen and (max-width: 1400px) {
    #password {width: 81.5%; }    
} 
@media screen and (max-width: 1200px) {
    #password {width: 81%; }    
}  
@media screen and (max-width: 1100px) {
    #password {width: 80%; }    
} 
@media screen and (max-width: 1000px) {
    #password {width: 79%; }    
} 
@media screen and (max-width: 900px) {
    #password {width: 81%; }   
    .loginContainer {grid-template-columns: 1fr 1.5fr 1fr; }    
} 
@media screen and (max-width: 800px) {
    #password {width: 80%; }
    .loginContainer {grid-template-columns: 1fr 2fr 1fr; }    
}
@media screen and (max-width: 700px) {
    #password {width: 79%; }    
} 
@media screen and (max-width: 650px) {
    #password {width: 90%; }    
    .input-group-append {display: none !important; }
    .loginContainer {grid-template-columns: 20% auto 20%; }    
} 
@media screen and (max-width: 600px) {
    .loginContainer {grid-template-columns: 17% auto 17%; }    
} 
@media screen and (max-width: 500px) {
    .loginContainer {grid-template-columns: 10% auto 10%; }    
}