.dashboard {
    background-color: #F5F7F8;
    margin: 0 !important;
    padding: 1% 10% 10% 8%;
    height: 91vh;
    .jumbotron {
        padding: 4% !important;
    }
    &__text--lg {

    }
    &__text--sm {
        font-size: 16px;
    }
}


