.dashboard {
    background-color: #F5F7F8;
    margin: 0 !important;
    padding: 1% 10% 10% 8%;
    height: 91vh;
}
.infoText {
    font-weight: bold;
    color: #1a8596;
}

.userInfo {
    color: black;
}

.jumbotron {
    padding: 4% !important;
}

.lead {
    margin-bottom: 0 !important
}

#main {
    display: flex;
    justify-content: space-around
}