.dashboard {
    background-color: #F5F7F8;
    margin: 0 !important;
    padding: 1% 10% 10% 8%;    
}
.infoText {
    font-size: 16px;
    font-weight: bold;
    margin: 1%;
    color: #1a8596;
}

#progressBar, #uploadBtn, .custom-file {
    width: 30%;
}

.jumbotron {
    padding: 4% !important;
}

.lead {
    margin-bottom: 0 !important
}