$bgcolor: #17a2b8;

.nav-text {
    margin: 0 20px;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.nav-text:hover {
    color: black !important;
}

.profileName {
    color: black !important;
    margin-left: 40px;
}

.nav {
    margin-right: 2% !important;
}

.iconAndTitle {
    display: flex;
    margin-right: auto;
}

.nav-item {
    margin: 0;
}

.container {
    margin-left: 10% !important;
}

img {
    margin: 10px;
}
