$bgcolor: #17a2b8;

.nav-text {
    margin: 0 20px;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.nav-text:hover {
    color: black !important;
}

#profileName {
    font-size: 18px;
    font-weight: bold;
    cursor: default;
}

.nav {
    margin-right: 2% !important;
    align-items: center;
}

.iconAndTitle {
    display: flex;
    margin-right: auto;
}

.nav-item {
    margin: 10px;
}

.container {
    margin-left: 10% !important;
}

img {
    margin: 10px;
}

#img {
    width: 110px;
    margin-top: 8px;
}

#avatar {
    height: 40px;
    width: 40px;
    margin: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

#about {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 76px;
    right: 25px;
    color: black;
    width: 400px;
    height: auto;
}

#fileInput {
    width: 0;
    display: none;
    margin: 5px;
}

label {
    cursor: pointer;
}

.image-upload {
    text-align: center;
}

.uploadBtn {
    margin: 15px;
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
    height: 13%;
    background-color: $bgcolor;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    overflow: hidden;
    color: white;
}

.uploadBtn:disabled {
    opacity: 0.3; 
    cursor: not-allowed;
  }

.progress {
    width: 80%;
    margin-left: 10%;
}

#main {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 2px 4px 5px 4px gray;
}

#one {
    margin-top: 10px;
    margin-bottom: 7px;
}

.infoText {
    font-weight: bold;
    color: #1a8596;
    margin-top: 8px;
}

.userInfo {
    color: black;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 230px;
}

.faEdit {
    margin: 0 10px 5px 0;
}

.editableInput {
    border-width: thin;
    border-style: outset;
    border-color: $bgcolor;
    border-radius: 4px;
    outline: none;
}

#inputPass {
    margin-left: 30px;
}

.tooltipClass {
    color: white !important;
    background-color: $bgcolor !important;
}

#emailErrorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    max-width: 220px;
}
