
// colors
$gray: gray;
$midgray: #E8E8E8;
$lightgray: lightgrey;
$verylightgray: #f9f9f9;
$blueGreen: rgb(44, 83, 83);
$black: black;
$lightBlack: rgb(48, 46, 46);
$white: white;
$red: red;

$appColor: #17a2b8;
$auth-BG-gray: lightslategray;
$auth-BG-lightGray: $lightgray;
$grayDashboardBG: #F5F7F8;
$errorText-color: $red;

